<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/app.css">
    <title>my Sweet Mango</title>
</head>
<body>
     <header class = "header">
            <h1 class = "header-primary">todo<span>list</span></h1>
            <h2 class = "header-secondary">A simple todo list app built with node</h2>
    </header>
      
      <section class="form">
        <input class = "form__input" type="text" id="todoInput" placeholder="Insert your task here...">
      </section>

      <section class="listholder">
            <ul class="list">
            </ul>

      </section>
    


<script src = "/app.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
</body>
</html>